[Desktop Entry]
Name=iut
Name[fr]=iut
X-KDE-PluginInfo-Name=iut
X-KDE-PluginInfo-Author=stefviv
X-KDE-PluginInfo-Email=stefviv
X-KDE-PluginInfo-License=LGPLv3
